
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffc400;
  }
  
body{
    background-color: black;
}

h1{
   color: #dddd00;
   font-style: italic;
}

h2{
    background-color: #363636;
    color: #dd6b00;
    margin-top: 23px;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 18px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 3px;
}

img{
    margin-bottom: 1px;
    margin-top: 15px;
}

nav{
    color: #dddd00;
    margin-bottom: 35px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
}

a{
    color: #dddd00;
}

footer a{
    color: #dddd00;
}
footer a:hover{
    color: beige;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 240, 22);
  }

.navbar-light .navbar-brand {
    color: rgba(255, 253, 107, 0.9);
}